.buy-btn{
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 8px;
  padding: 12px 20px;
}

a.buy-btn{
  text-transform: uppercase;
}

.buy-btn:hover{
  text-decoration: none;
  color: white;
}
.carousel-item{
  padding: 0px 35px;
}
